.todoList__body{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 70%
}

.icon {
  width: 16px;
  margin: 0 5px 0 5px;
}

td {
  text-align: center;
  border-bottom: solid black 1px;
}

th {
  text-align: center;
  border-bottom: solid black 1px;
}

.col1 {
  min-width: 50px;
}

.col2 {
  min-width: 500px;
}

.col3 {
  min-width: 200px;
}

.col4 {
  min-width: 70px;
}
